@font-face {
    font-family: "Podimo";
    src: url(../font/font.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Podimo",Arial, Helvetica, sans-serif;
}

:root{
    --morado-principal: #7251EE;
}

.header{
    background-color:#7251EE;
    width: 100vw;
}
