@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*? Menu */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.header{
    z-index: 999999 !important;
    width: 100%;
    background-color: black;
    height: 7vh;

    /* Menu stays at top */
    position: sticky;
    top: 0;

    display: flex;
}
.first-col{
    width: 50%;
    display: flex;
    align-items: center;
}
.second-col{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;

    margin-right: 2%;
}

.menu{
    justify-content: right;
}
.menu ul{
    display: inline-flex;
    gap: 50px;
    list-style: none;
    justify-content: right;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    transition: .5s;
}
.menu ul li a:hover{
    color: rgb(222, 55, 205);
    text-decoration: none;
    transition: .5s ease-in-out;
}

/*? Footer */
.footer{
    height: 5vh;
    width: 100%;
    background-color: black;

    position: static;
    bottom: 0;
}


/** HOME */
.hero{
    background-image: url(../img/el-colibri-de-colores-vividos-en-la-naturaleza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;

    display: flex;
    justify-content: center;
}
.title-home{
    color: white;
    display: flex;
    align-items: center;

    font-size: 10rem;
}